*{
    padding: 0;
    margin: 0;
    width: 100%;

}
.navbar-brand{
    height: 20%;
    width: 20%;
}
.topImage{
    background-image: url(./images/mypizza.jpeg);
    width: 100%;
    height:30rem;
}
.pizzaImages{
    height: auto;
    width: 100%;
    background-color: wheat;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 10px;
    height: auto;

}