*{
    padding: 0;
    margin: 0;
    /* width: 100%; */

}
/* .navbar-brand{
    height: 20%;
    width: 20%;
} */
.topImage{
    background-image: url(./images/mypizza.jpeg);
    width: 100%;
    height:30rem;
}
.pizzaImages{
    height: auto;
    width: 100%;
    background-color: wheat;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin: 10px;
    height: auto;

}
#submit{
    width: 8rem;
}
.text-reset p{
    display: none;
}
.price{
    display: flex;
    justify-content: space-between;
}

.bgimage{
    background-image: url(https://images.unsplash.com/photo-1571407970349-bc81e7e96d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
    width: 100%;
    height:50rem;
    background-size: cover;
    background-repeat: no-repeat;

    
    
    
}
.bgimage h1{
    text-align: center;
}
.field-container{

    padding: 0 20% 4%;
    padding-top: 5%;
    color: white;
    
}
.orderContainter{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 7%;
    padding-bottom: 20px;
    padding-left: 6%;
    height: 77%;
    border-radius: 20px;
    
}
.form-control{
    width: 20%;
}
hr {
    border: 5px solid rgb(54, 5, 5);
    border-radius: 5px;
  }
#toppings{
   
    margin-top: -3%;
    /* margin-right: 10%; */
    color: white;
}
.field-container{
    margin-left: -20%;
}
#submitBtn{
    margin: 2rem 15rem 2rem;
    background-color: orange;
    border-radius: 20px 20px 20px 20px;
    height: 7rem;
    width: 13rem;
    font-size: 30px;
    position: relative;
    top: -25rem;
    left: 12rem;
    color: white;
}
.mydisplay{
    height: 13rem;
    width: 23rem;
    border: 2px solid white;
    margin-left: 32.6%;
    color: white;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}
.mydisplay{
    display: none;
    position: relative;
    top: -25rem;
}
#deliveryBtn{
    position: relative;
    top: 10rem;
    display: none;
    width: 11rem;
    font-size: 20px;
}
#deliveryForm{
    margin-top: -33%;
    margin-left: 32%;
    color: white;
    border: 2px solid white;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 25rem;
    display: none;
    
}
#checkoutBtn{
    margin-left: 40%;
    margin-top: 2%;
    width: 12rem;
    font-size: 30px;
    display: none;
}
